body {
    
}
#top {
    text-align : center;
    background-color : black;
    color:white;
    padding-bottom : 50px;
}
.card {
    margin-bottom : 20px;
}



form {
    padding:10px;
}
input {
    margin-left:5px;
}

tr:nth-child(even) {
    background-color: #f2faf4
  }